.card{
  height:500px;
  width:50%;
  font-size:22px;
  margin:auto;
}
p{
  font-size:22px;
}
body{
  background:radial-gradient(circle, #000000, #0000ff); 
}
form{
  padding: 15px 15px 15px 15px;
}
.padding{
 margin-top:10px;
}
.navbar-brand{

}
a{
  padding-left:15px;
  padding-right:10px;
}
#logo{
  width:40%;
  height:auto;
}
.nav-a{
  margin-right:10px;
  width:100%;
  display:flex;
  justify-content: flex-end;
  padding-left:15px;
}