.card{
  height:500px;
  width:50%;
  font-size:22px;
  margin:auto;
}
p{
  font-size:22px;
}
body{
  background:radial-gradient(circle, #000000, #0000ff); 
}
form{
  
  padding: 20px 20px 20px 20px;
}
.padding{
 margin-top:10px;
}
.navbar-brand{

}
a{
  padding-left:15px;
  padding-right:10px;
}
#logo{
  width:50%;
  height:auto;
}
.nav-a{
  margin-right:10px;
  width:100%;
  display:flex;
  justify-content: flex-end;
  padding-left:15px;
}
#welc{
  font-family:"Emilys candy, cursive";
}
.details{
  margin-top:250px;
}
h1,h2{
  font-style:bold;
}
h3{
  font-family:"playball,cursive";
}
#f1,#f2,#f3,#f4,#f5,#f6,#f7{
  color:white;
}
.card-footer{
  margin-top:50px;
  position:relative;
  height:100%;
}
.card{
  height:100%;
}